<!DOCTYPE html>
<html>

<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>MVC</title>
</head>

<body>
  <h2>Resultados</h2>
    <% if (req) 
        console.log(req)
    %>
  <a href="/">Voltar</a>
</body>

</html>
